.home {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	margin-left: 50px;
	padding-top: 125px;
}

.title {
	color: #88B04B;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 5px;
	padding-top: 5px;

}

.info {
	color: #707070;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 20px;

}

.votes {
	display: inline-block;
	float: left;
	margin-right: 20px;
	text-align: center;
	color: #707070;

}

.title:hover {
	opacity: 0.7;
}

.button {
	opacity: 0.5;
}

.button:hover {
	opacity: 0.3;
	cursor: pointer;
}