.navbar {
	background-color: #f7f7f7;
	overflow: hidden;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	position: fixed;
	width: 100%;
	z-index:3;
}

.sitename {
	display: block;
	float: left;
	padding-left: 50px;
	padding-right: 25px;
	color: #88B04B;
	font-weight: 400;
	font-size: 35px;
	letter-spacing: 9px;

}

.navlink {
	display: block;
	float: left;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 6px;
	text-align: center;
	font-weight: 400;
	color: #707070;
	font-size: 27px;
}

.navlink:hover {
	color: #cecece;
	cursor: pointer;
}